build/_output/*
figures/*
vendor
.idea
.vscode
*.o
*.a
.project
.cproject
.eclipse
.settings/
data/assets/
data/gobenchdata-web.yml
data/index.html
data/overrides.css
data/test-cover.out
data/test-cover1.out
data/me-ert-core_fmais_depth_2.json
data/me-ert-core_fmais_depth_3.json
data/me-ert-core_fmais_depth_4.json
